<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://camel.apache.org/schema/xml-io">

  <!-- ルート実装（direct経由でREST DSLから呼び出される） -->
  <route id="get-users-route">
    <from uri="direct:get-users"/>
    <log message="ユーザー一覧取得"/>
    <doTry>
      <process ref="getUsersProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="create-user-route">
    <from uri="direct:create-user"/>
    <log message="ユーザー作成"/>
    <doTry>
      <process ref="createUserProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="get-user-by-id-route">
    <from uri="direct:get-user-by-id"/>
    <log message="ユーザー詳細取得: ID=${header.id}"/>
    <doTry>
      <process ref="getUserByIdProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="update-user-route">
    <from uri="direct:update-user"/>
    <log message="ユーザー更新: ID=${header.id}"/>
    <doTry>
      <process ref="updateUserProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="delete-user-route">
    <from uri="direct:delete-user"/>
    <log message="ユーザー削除: ID=${header.id}"/>
    <doTry>
      <process ref="deleteUserProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="health-route">
    <from uri="direct:health"/>
    <log message="ヘルスチェック"/>
    <doTry>
      <process ref="healthCheckProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

  <route id="test-error-route">
    <from uri="direct:test-error"/>
    <log message="テストエラー"/>
    <doTry>
      <process ref="testErrorProcessor"/>
      <doCatch>
        <exception>java.lang.Exception</exception>
        <setHeader name="CamelHttpResponseCode">
          <constant>500</constant>
        </setHeader>
        <setHeader name="Content-Type">
          <constant>application/json</constant>
        </setHeader>
        <process ref="globalErrorProcessor"/>
      </doCatch>
    </doTry>
  </route>

</routes>
